* {
    --primary-color: #455687;
    --primary-color-rgb: 33, 52, 73;
    --secondary-color: #e1ad01;
    --secondary-color-rgb: 234, 166, 56;
    --bg-light: #ebf0f6;
    --bg-dark-1: #101010;
    --bg-dark-1-rgb: 16, 16, 16;
    --bg-dark-2: #2b425d;
    --bg-dark-3: #303030;
}